.ui.secondary.menu.header {
    justify-content: space-between;
    background-color: #00BFFF !important;
    position: fixed;
    width: 100vw;
    height: 90px !important;
    z-index: 50;
    top: 0px !important;
}

.ui.secondary i {
    color: #FFF;
}

.logo, .icon {
    cursor: pointer;
}

.ui.secondary .search.item {
    padding-left: 0em !important;
    margin-left: 0px !important;
}

.icon.input input {
    border-radius: 1.67em !important;
    border: none !important;
}

.icon.input input::placeholder {
    color: #4682B4;
}

.icon.input i {
    color: #00BFFF !important;
}

.ui.menu:not(.vertical) .left.menu, .ui.menu:not(.vertical) .right.menu {
    width: 49%;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.center {
    width: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right.menu {
    justify-content: flex-end;
    padding-right: 1em;
}

i.large {
    font-size: 1.56em !important;
}

.profile-link {
    line-height: 1 !important;
    height: 50px;
}

.profile-link img {
    height: 50px;
    width: 50px;
    border-radius: 0.2rem;
    object-fit: cover;
}

.notification-indicator {
    position: relative;
}

.right.menu .notification-count {
    display: block;
    position: absolute;
    right: 0.3em;
    top: 0px;
    background-color: #dd0000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 1.3rem;
    height: 1.3rem;
    font-size: 0.6em;
    border: 2px solid #00bfff;
}

.right.menu .notification-count.hidden {
    display: none
}

.header .search.item .ui.icon.input input {
    font-size: 18px !important;
    width: 300px;
}

.left.menu .search.item {
    padding: 0em !important;
    /* width: 200px; */
}

i.home.icon.large {
    margin-right: 0px !important;
}