.input-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.input-inline .content {
    margin-left: 1em !important;
}

.input-inline .content {
    width: 80%;
}

.input-inline .paper.plane.icon {
    font-size: 1.3em;
    cursor: pointer;
    margin-left: 0.4em;
    color: #1E90FF;
}

.input-inline .paper.plane.icon:hover {
    color: rgb(25, 129, 240)
}

.input-inline .paper.plane.icon:active {
    color: rgb(10, 114, 225)
}