.user-info-menu {
    width: 420px;
    height: auto;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 0.8em;
    background-color: #fff;
    margin-left: 2.5em;
}

.user-info-menu>h3 {
    margin-block-start: 0;
    margin-block-end: 0.1em;
}