.user-profile-page {
    position: relative;
}

/* .tab-content-container {
    width: 1006px;
    margin: auto; */
    /* position: relative; */
/* } */

/* .profile-tab-content {
    padding: 2em 2em 2em 2em;
    top: 55px;
    width: 100%;
} */

.user-info-menu {
    margin-bottom: 2em;
}

.profile-news-feed-container {
    position: relative;
    left: 503px;
    display: inline-block;
}

.profile-news-feed {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 550px;
}

.profile-news-feed .post-input-prompt {
    margin-top: 0px;
}

.profile-tab-left-menus {
    position: sticky;
    left: 0px;
    top: 50px;
    height: 0px;
    z-index: 2;
    vertical-align: top;
    width: 420px;
}