.user-modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
}

.welcome-image {
    width: 50vw;
    height: 100vh;
}

.welcome-image img {
    width: 100%;
    height: 100%;
}

.signin-prompt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.signin, .signup {
    width: 30vw !important;
    padding: 1rem 1.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.welcome.logo {
    padding-top: 1.1rem !important;
}

.signin-prompt .ui.button.primary {
    padding: 0.8rem 1.2rem !important;
    font-size: 20px;
}

.signin-prompt .ui.button:not(.primary) {
    background-color: transparent;
    margin-top: 0.5rem !important;
    padding: 0.5rem 1rem !important;
}

.signin-prompt .ui.button:not(.primary):hover {
    background-color: rgb(240, 240, 240);
}

.signin-prompt .ui.button:not(.primary):active {
    background-color: rgb(230, 230, 230);
}

.user-modal .ui.header {
    margin-top: 1.5rem !important;
}