.user-modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
}

.welcome-image {
    width: 50vw;
    height: 100vh;
}

.welcome-image img {
    width: 100%;
    height: 100%;
}

.signin-prompt {
    display: flex;
    justify-content: space-between;
}

.signin {
    width: 393px !important;
}

.signin-prompt .ui.primary.button {
    margin-right: 0 !important;
}